<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<h2>Create a new note:</h2>
  <form action="/notes" method="post">
    <p>Note Heading: </p> <input name="heading" placeholder="Note Heading" required/>
    <p>Note Content: </p> <textarea name="content" placeholder="Write your note here..." required></textarea>
    <br/>
    <button type="submit">Add Note</button>
  </form>
</body>
</html>